  .new-donation-container {
    display: flex;
    justify-content: center;
  }

  .donation-card {
    background-color: white;
    // border: 2px solid #51D6FF;
    border-radius: 8px;
  }

  .donation-image {
    width: 250px;
    height: 150px;
    border-radius: 3px;
    background-image: url('');
  }

  .donation-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
