


.hover-text {
display: none;
}

.first-login:hover + .hover-text {
display: block;
}

#Archivist {
  opacity: 0.1;
}

.Archivist-active {
  opacity: 1;
}


#animals{
opacity: 0.1;
}
.animals-active{
opacity: 1;
}

.hover-text-arch  {
display: none;
}

.Archivist:hover + .hover-text-arch {
  display: block;
}
