
.hover-text {
display: none;
}

.first-login:hover + .hover-text {
display: block;
}

#Archivist {
  opacity: 0.1;
}

.Archivist-active {
  opacity: 1;
}

#animals{
opacity: 0.1;
}
.animals-active{
opacity: 1;
}

.hover-text-arch  {
display: none;
}

.Archivist:hover + .hover-text-arch {
  display: block;
}

.profile-intro-container {
  background-color: white;
  padding: 50px 0px;
  padding-bottom: 75px;
}

.favorited-profile {
  padding: 50px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
}

.favorited-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
