<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if flash[:message] %>
  <div class="toast" id="achievement-toast" data-delay='200000' role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="https://cdn2.iconfinder.com/data/icons/seo-web-optimization-ultimate-part1/512/award-512.png" height="42" width="42" class="rounded mr-2" alt="...">
      <strong class="mr-auto">Badge earned!</strong>
      <small>Just Now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      <%= flash[:message] %>
      <%=link_to "Check it out on your Profile!" , profile_path(current_user) %>

    </div>
  </div>
<% end %>
