<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,60,46,0.4),rgba(0,60,46,0.4)), url();">;
  <div class="container col-md-offset-2 ">
    <h1><strong>SciUs</strong></h1>
    <br>
    <h1>Find and contribute to citizen science projects online or in your neighbourhood</h1>
    <br>
    <%= link_to "Find Projects", projects_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="container col-md-offset-2 landing-community change-color">
  <h2><strong>Search and connect with the community</strong></h2>
  <h3>Find and contribute to science research in your neighbourhood.</h1>
</div>
<div class="container col-md-offset-2 landing-about">
  <h2><strong>Why SCI US?</strong></h2>
  <h3>Participate in research of all kinds, from classifying galaxies to counting penguins to transcribing manuscripts. Whatever your interest, there's a science project for you.</h1>
</div>


<script src=”https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>;
<script src=”scripts.js”></script>
