<div class="project-index-container">
  <!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url(https://static1.visitestonia.com/images/2890339/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg);">
    <h1>Featured Project</h1>
    <h5>Short Description</h5>
  </div>

  <!-- Search & Icons -->
  <div class="search-container">
    <div class="icons">
      <i class="fas fa-rocket fa-2x"></i>
      <i class="fas fa-seedling fa-2x"></i>
      <i class="fas fa-music fa-2x"></i>
    </div>
  </div>

  <!-- Cards -->
  <div class="card-container">
    <!-- Card -->
    <div class="card" style="width: 18rem;">
      <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://cdn.cnn.com/cnnnext/dam/assets/190226205205-butterfly-sanctuary-border-wall-trump-weir-orig-00000712-large-169.jpg);">
        <% if user_signed_in? %>
          <%= link_to toggle_project_favorites_path(Project.first), method: :post do %>
            <% if current_user.has_favorited?(Project.first) %>
              <i id="star", class="fas fa-star fa-lg fa-rocket-click"></i>
            <% else %>
              <i id="star", class="fas fa-star fa-lg"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body">
        <p class="card-title">Title Here</p>
        <p class="card-text">Sample description here</p>
      </div>
    </div>
  </div>

</div>
