.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

#show-banner {
  height: 50vh;
  width: 50vw;
  border-style: solid;
  border-color: #C1DFF0;
  border-width: 8px;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h5 {
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 14px;
}

#show-banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 25px;
}

#show-banner h5 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 180px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 60vh;
  // width: 450px;
  // height: 250px;

  // .item {
  //   overflow: hidden;

  //   img {
  //     height: 100%;
  //     max-width: none;
  //     left: 50%;
  //     position: relative;
  //     transform: translateX(-50%);
  //     -webkit-transform: translateX(-50%);
  //   }
  // }


}

.carousel-inner{
  overflow:hidden;

}

.index-caption h5 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.index-caption p {
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 14px;
}
