.learn-more-button {
 border: 2px solid transparent;
    color: blue;
    font-size: 0.8em;
    font-weight: bold;
    margin: 1.75vh 0.5vw;
    padding: 0.4em 1.2vw;
    text-transform: capitalize;
}

.learn-more-button:hover{
    border: 2px solid blue;
    border-radius: 0.5em;
}

#participate-btn {
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 25px;
  color: white;
  background-color: #ee4540;
}

#donate-btn {
  font-weight: bold;
  border-radius: 10px;
  margin: 25px;
  padding: 5px 15px;
  font-weight: 30px;
  color: white;
  background-color: rgb(211, 164, 78);
  border: none;
  &:hover {
    background-color: rgba(204,125,0,0.7);
  }
}

.btn-primary {
  background-color: rgba(0,0,0,0.4);
  font-size: 24px;
  border-color: rgba(255,255,255,0.2);
  &:hover {
    background-color: rgba(31,24,55,0.8);
    border-color: rgba(255,255,255,0.2);
  }
}

.btn-primary:active, .btn-primary:focus {
  background-color: rgba(31,24,55,0.8) !important;
  border-color: rgba(255,255,255,0.2) !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-warning {
  background-color: rgba(0,0,0,0.4);
  font-size: 24px;
  border-color: rgba(255,255,255,0.2);
  margin-left: -5px;
  &:hover {
    background-color: rgba(31,24,55,0.8);
    border-color: rgba(255,255,255,0.2);
  }
}

.btn-warning:active, .btn-primary:focus {
  background-color: rgba(31,24,55,0.8) !important;
  border-color: rgba(255,255,255,0.2) !important;
  outline: none !important;
  box-shadow: none !important;
}

#donate-amount-btn {
  color: white;
  font-weight: bold;
  width: 100px;
  border-radius: 10px;
  margin: 5px
}

#donate-submit-btn {
  font-weight: bold;
  width: 100px;
}

.btn-browse {
  background-color: rgba(238,69,64,0.9);
  font-size: 18px;
  border-color: rgba(255,255,255,0.2);
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  &:hover {
    background-color: rgba(238,69,64,1);
    border-color: rgba(255,255,255,0.2);
    color: white;
    border-radius: 5px;
  }
}


