.card-container {
  display: flex;
  justify-content: space-around;
  align-items: left;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card {
  box-shadow: .5px .5px .5px lightgrey;
  border-radius: 3px;
  margin: 20px 0px;
  justify-content: flex-start !important;
}

.hide {
    display: none;
}

.card-body- {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 200px;
  overflow: hidden;
  padding: 15px;
}

.card-photo {
  height: 250px;
  border-radius: 3px 3px 0px 0px;
  background-size: cover;
  object-fit: contain;
  background-position: center;
}

.card-text {
  font-size: 15px;
  color:gray;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.card-body-profile {
  height: 150px;
}

.card-photo-profile {
  height: 250px;
}

.card-link {
  color: black;
}

.card-link:hover {
  text-decoration: none;
  color: gray;
}

.card-product {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 400px;
  margin: 20px 20px 20px 0px;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

