.card-container {
  display: flex;
  justify-content: space-around;
  align-items: left;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card {
  box-shadow: 5px 5px 5px lightgrey;
  border-radius: 25px;
  margin: 20px;
  justify-content: flex-start !important;
}

.hide {
    display: none;
}

.card-body- {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 150px;
  overflow: hidden;
}

.card-photo {
  height: 250px;
  border-radius: 25px 25px 0px 0px;
  background-size: cover;
  object-fit: contain;
  background-position: center;

}

.card-text {
  font-style: italic;
  font-size: 16px;
}

.card-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}

.card-body-profile {
  height: 150px;
}

.card-photo-profile {
  height: 250px;
}

