.icons {
  display: flex;
  justify-content: center;
  // margin-right: 200px;
}

.col-sm-6 {
  justify-content: center;
}

.row-icons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

i.fas {
  color: gray;
  // margin-left: 30px;
}

.i-filt {
  color: gray;
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
    color: #3bb4c1;
  }
}

i.fas:hover {
  color: #3bb4c1;
}

#star {
  color: #ffe837;
}

#star {
  margin-top: 0px;
  margin-left: 15px;
  color: rgba(0,0,0,.2);
}

#star:hover {
  margin-top: 0px;
  margin-left: 15px;
  color: #ffe837;
}

.fa-rocket-click {
  color: #ffe837 !important;
}

#favor {
  color: white;
  margin-left: 1px;
  margin-top: 20px
}

#user {
  color: white;
  margin-left: 5px
}

#exit {
  color: white;
  margin-bottom: 25px
}

#dollar {
  color: white;
}

.project_show_link{
  color:black;
}

.project_show_link:hover {
  text-decoration: none;
  color:black;
}

.badges img {
  opacity: 0.2;
}

.hover-text-arch  {
display: none;
}

.Archivist:hover + .hover-text-arch {
  display: block;
}

#star-show {
  font-weight: 24px;
}

#heart-hand {
  color:#eb4745;
}

#heart-hand:hover {
  color:#eb4745;
}

.fa-sign-out-alt {
  color: gray;
}
