.search-container {
  background: #F7FFF7;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 1px;
}


.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-rocket {
  color: #ABDAE1;
}

.fa-rocket:hover {
  color: #72A1E5;
}

.fa-seedling {
  color: #ABDAE1;
  margin-left: 25px;
}

.fa-seedling:hover {
  color: #72A1E5;
}

.fa-music {
  color: #ABDAE1;
  margin-left: 25px;
}

.fa-music:hover {
  color: #72A1E5;
}
