.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

i.fas {
  color: #ABDAE1;
  margin-left: 30px;
}

i.fas:hover {
  color: #72A1E5;
}

#star {
  margin-top: 15px;
  margin-left: 15px;
  color: white;
}

#star:hover {
  margin-top: 15px;
  margin-left: 15px;
  color: #FFE66D;
}

.fa-rocket-click {
  color: #ffe837;
}
