// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "cards";
@import "icon";




.whole-page {
  display: flex;
  flex-direction: column;
}

.show-description {
   display: flex;
  flex-direction: row;
  justify-content: space-between;
}
