.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: white;
  width: 100vw;
}

#nav-fixed {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-fixed > a {
  color: white !important;
}

.nav-share > a {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.7);
  &:hover {
    color: white;
  }
}

.navbar-light .navbar-brand {
  color: rgb(96,58,8);
  font-weight: bolder;
  font-size: 25px;
  padding: 0px 20px;
  &:hover {
    color: rgb(96,58,8);
  }
}




