.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: white;
  width: 100vw;
}

#nav-fixed {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
}

#nav-fixed #nav-share {
  color: white !important;
  &:hover {
    color: white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  cursor: pointer;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  cursor: pointer;
}

.navbar-light .navbar-brand {
  color: #EB4745;
  font-weight: bolder;
  font-weight: 40px;
  padding: 10px 20px;
}





