.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-page-search-form {
  width: 50vw;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  // text-align: center;
  // border-color: #ABDAE1;
  color: black;
}
