.seach {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-page-search-form {
  width: 50vw;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  border-color: #ABDAE1;
  color: #ABDAE1;
}
